nav {
    position: fixed;
    top: 0px;
    left: 25px;
    z-index: 2;
    height: 30px;
    background-color: #deb887;
    align-items: flex-end;
    border: solid 1px black
}
span#titre_du_site{
    font-size: 30px;
    margin-right: 50px;
}
.acceuil, .cat {
    font-weight: bold;
    margin-left: 20px;
    font-size: 15pt;
}
.acceuil:hover, .cat:hover {
    font-weight: bold;
    margin-left: 20px;
    font-size: 18pt;
}


.meilleur_film {
    display: flex;
    height: 400px;
    border: 3px solid black;
    z-index: 1;

}


section.films_les_mieux_notes h2 {
    text-align: center;
    margin:10px 0 10px 0;
}

.films_les_mieux_notes #conteneur {
    display: flex;
    border: solid 1px black;
    background-color: black;
    width: 54em;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    align-items:center;
    overflow: auto;   

}
.films_les_mieux_notes #conteneur #box {
    
    background-color: grey;
    border: solid 1px black;
    min-width: 200px;
    margin-left: 3px;
    height: 150px;

}

.films_les_mieux_notes #conteneur #box:nth-child(1) {
    margin-left: 0px;
}

.films_les_mieux_notes #conteneur #box:hover {
    height: 180px;
    min-width: 270px;
    


}


section.cat1 h3 {
    text-align: center;
    margin:10px 0 10px 0;
}

.cat1 #conteneur {
    display: flex;
    border: solid 1px black;
    background-color: black;
    width: 54em;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    align-items:center;
    overflow: auto;    
}
.cat1 #conteneur #box {
    
    background-color: grey;
    border: solid 1px black;
    min-width: 200px;
    margin-left: 3px;
    height: 150px;

}

.cat1 #conteneur #box:nth-child(1) {
    margin-left: 0px;
}

.cat1 #conteneur #box:hover {
    height: 180px;
    min-width: 270px;


}section.cat2 h3 {
    text-align: center;
    margin:10px 0 10px 0;
}

.cat2 #conteneur {
    display: flex;
    border: solid 1px black;
    background-color: black;
    width: 54em;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    align-items:center;
    overflow: auto;   

}
.cat2 #conteneur #box {
    
    background-color: grey;
    border: solid 1px black;
    min-width: 200px;
    margin-left: 3px;
    height: 150px;

}

.cat2 #conteneur #box:nth-child(1) {
    margin-left: 0px;
}

.cat2 #conteneur #box:hover {
    height: 180px;
    min-width: 270px;


}section.cat3 h3 {
    text-align: center;
    margin:10px 0 10px 0;
}

.cat3 #conteneur {
    display: flex;
    border: solid 1px black;
    background-color: black;
    width: 54em;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    align-items:center;
    overflow: auto;   

}
.cat3 #conteneur #box {
    
    background-color: grey;
    border: solid 1px black;
    min-width: 200px;
    margin-left: 3px;
    height: 150px;

}

.cat3 #conteneur #box:nth-child(1) {
    margin-left: 0px;
}

.cat3 #conteneur #box:hover {
    height: 180px;
    min-width: 270px;


}