body {
    background-color: black;
}

nav {
    position: fixed;
    top: 0px;
    left: 25px;
    z-index: 1;
    height: 30px;
    align-items: flex-end;
}

span#titre_du_site{
    font-size: 30px;
    margin-right: 50px;
    color: ivory;
}
.acceuil, .cat {
    font-weight: bold;
    margin-left: 20px;
    font-size: 15pt;
    color: ivory;
}
.acceuil:hover, .cat:hover {
    font-weight: bold;
    margin-left: 20px;
    font-size: 18pt;
}

.best-movie {
    margin-top: 20px;
    display: flex;
    height: 400px;
    color: ivory;
    align-items: center;
    justify-content: center;

}

#best-movie-cover{
    height: 400px;
}

#previous, #next {
    background-color: rgba(24, 24, 24, 0.476);
    height: 300px;
    width: 40px;
    border: 1px solid red;
}

#category-title {
    text-align: center;
    margin:10px 0 10px 0;
    color: ivory;
}

#conteneur {
    display: flex;
    background-color: black;
    width: 54em;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    align-items:center;
    overflow: hidden;
}

#movie-cover {  
    background-color: grey;
    border: solid 1px black;
    margin-left: 3px;
    height: 260px;
}

#conteneur #box:nth-child(1) {
    margin-left: 0px;
}


#movie-cover:hover{
    background-color: black;
    height: 100%;
    width: 220px;
}